.sidebar {
  width: 100%;
  overflow: hidden;
  border: 1px solid var(--poe-color-currency);
  grid-area: modlist;
}

.sidebar > .header {
  display: block;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  text-align: center;
  background-repeat: no-repeat, no-repeat, repeat-x;
  align-items: center;
  color: var(--poe-color-currency);
  padding: 3px 32px;
  height: 25px;
  line-height: 25px;
  margin-bottom: 5px;
  border: 1px solid var(--poe-color-currency);
  background-position: left -204px, right -272px, center -238px;
  background-image: url(https://www.poewiki.net/w/images/9/9b/Item-ui-header-single.png),
    url(https://www.poewiki.net/w/images/9/9b/Item-ui-header-single.png),
    url(https://www.poewiki.net/w/images/9/9b/Item-ui-header-single.png);
}

.sidebar > .input {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  align-items: center;
  color: var(--poe-color-normal);
  background-image: url(https://www.poewiki.net/w/images/9/9b/Item-ui-header-single.png),
    url(https://www.poewiki.net/w/images/9/9b/Item-ui-header-single.png),
    url(https://www.poewiki.net/w/images/9/9b/Item-ui-header-single.png);
  padding: 3px 32px;
  height: 34px;
  line-height: 25px;
  background-position: left 0, right -68px, center -34px;
  font-family: 'FontinSmallCaps';
  margin-bottom: 10px;
  width: 100%;
}

.sidebar > .input:focus {
  outline: none;
}

.sidebar > .list {
  height: calc(100% - 75px);
  overflow-y: scroll;
}
