.stats {
  grid-area: statlist;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--poe-color-currency);
}

.stats > .header {
  display: block;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  text-align: center;
  background-repeat: no-repeat, no-repeat, repeat-x;
  align-items: center;
  color: var(--poe-color-currency);
  padding: 3px 32px;
  height: 25px;
  line-height: 25px;
  margin-bottom: 5px;
  border: 1px solid var(--poe-color-currency);
  background-position: left -204px, right -272px, center -238px;
  background-image: url(https://www.poewiki.net/w/images/9/9b/Item-ui-header-single.png),
    url(https://www.poewiki.net/w/images/9/9b/Item-ui-header-single.png),
    url(https://www.poewiki.net/w/images/9/9b/Item-ui-header-single.png);
}

.stats > .stats-list {
  padding: 0 5%;
  height: 100%;
  overflow-y: scroll;
}
