.App {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    'container logo statlist'
    'modlist modlist modlist';
  grid-template-columns: 650px auto 650px;
  grid-template-rows: 70% 30%;
  overflow-y: scroll;
  color: var(--poe-color-normal);
}

:root {
  --poe-color-default: rgb(127, 127, 127);
  --poe-color-unique: rgb(175, 96, 37);
  --poe-color-rare: rgb(255, 255, 119);
  --poe-color-magic: rgb(136, 136, 255);
  --poe-color-normal: rgb(200, 200, 200);
  --poe-color-augmented: rgb(136, 136, 255);
  --poe-color-currency: rgb(170, 158, 130);
  --poe-color-gem: rgb(27, 162, 155);
  --poe-color-quest: rgb(74, 230, 58);
  --poe-color-prophecy: rgb(181, 75, 255);
  --poe-color-uniquefoil: rgb(130, 173, 106);
}

.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

.logo > h2 {
  color: var(--poe-color-rare);
  opacity: 0.7;
  text-shadow: 0 0 20px var(--poe-color-rare);
}

.logo > img {
  width: 250px;
}

.tc.-mod {
  font-variant-ligatures: none;
  color: var(--poe-color-augmented);
}

.tc.-uniquemod {
  font-variant-ligatures: none;
  color: var(--poe-color-unique);
}

.tc.-normalmod {
  font-variant-ligatures: none;
  color: var(--poe-color-normal);
}

.devtag {
  position: absolute;
  bottom: 0%;
  right: 0;
  color: var(--poe-color-default);
  font-size: 0.7em;
}
