.App {
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  display: grid;
  grid-template-areas:
    'topbar topbar topbar topbar'
    'modlist content content statlist';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px calc(100vh - 50px);
  color: var(--poe-color-normal);
}

:root {
  --poe-color-default: rgb(127, 127, 127);
  --poe-color-unique: rgb(175, 96, 37);
  --poe-color-rare: rgb(255, 255, 119);
  --poe-color-magic: rgb(136, 136, 255);
  --poe-color-normal: rgb(200, 200, 200);
  --poe-color-augmented: rgb(136, 136, 255);
  --poe-color-currency: rgb(170, 158, 130);
  --poe-color-gem: rgb(27, 162, 155);
  --poe-color-quest: rgb(74, 230, 58);
  --poe-color-prophecy: rgb(181, 75, 255);
  --poe-color-uniquefoil: rgb(130, 173, 106);
  --topbar-height: 50px;
}

.tc.-mod {
  font-variant-ligatures: none;
  color: var(--poe-color-augmented);
}

.tc.-uniquemod {
  font-variant-ligatures: none;
  color: var(--poe-color-unique);
}
